<nav id="navbar-cratezy" class="navbar float-sm navbar-expand-lg bd-navbar navbar-light  sticky-top ">
    <img src="../../../assets/images/wooden-box.png" class="ms-2" title="crate icons"  height="25px" width="25px">
    <a class="navbar-brand ms-1" href="#">CrateZy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#product-section">Products</a>
        </li>
        <li class = "nav-item">
            <a class="nav-link" href="#about-us-section">About Us</a>
        </li>
      </ul>
      <form class="d-flex ms-auto me-3" role="search">
        <input class="form-control me-3" style="width: 18rem;" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
