.navbar {
    background-color: #3f3882; /* Dark theme */
  }
  
  .navbar-brand{
        color: #f61badda;
        font-style: oblique;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
   .nav-link {
    color: #f61badda !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
  .nav-link:hover {
    color: #f9c529 !important; /* Light grey text on hover */
  }
  